@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*:not(.fa-solid,.fa-regular,.fa-thin) {
    font-family: 'Lato', sans-serif !important;
}

.open-author-nav {
    width: 20rem;
    animation: openAuthorNavbar;
    transition: .1s;
}

.close-author-nav {
    width: 0 !important;
    transition: 0.2s;
    animation: closeAuthorNavbar 400ms;
    overflow: hidden;
}

.author-nav-item--shadow {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
}

.author-item-calc--height {
    height: calc(100vh - 100px);
}
.author-item-container::-webkit-scrollbar{
    width: 0;
}
.author-item-container::-webkit-scrollbar-thumb{
    width: 4px;
    border-radius: 16px;
    background-color: rgba(0,0,0,0.2);
    height: 6px;
}